@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
  overflow: hidden;
  /* this is temperory */
  background-image: url("samplebg.jpeg");
  background-position: center;
  background-size: cover;
}
img {
  transition: 200ms;
}
.app .configbtn {
  position: absolute;
  padding: 10px 10px 0px 10px;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  transition: 500ms all ease;
  background-color:rgba(255, 255, 255, 0.501);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  cursor: pointer;
}
.app .configbtn:hover {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.303);
  background-color: white;
}
.down{
  transform: rotate(90deg);
}
.up{
  transform: rotate(-90deg);
}
.app .config {
  position: absolute;
  overflow: scroll hidden;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: none;
  scrollbar-width: none; 
  transition: 200ms ease-in-out;
}
.upconfig{
  bottom: 10%;
}
.downconfig{
  bottom: -100px;
}
.app .config .color {
  padding: 30px;
  border-radius: 100%;
  margin: 10px; 
  cursor: pointer;  
  transition: 100ms all ease-in;
}
.app .config .color:hover {
  transform: scale(1.2);
}
.camrabtnshow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  transition: 200ms;
  background-color: rgb(182, 40, 40);
  border: 15px solid white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.camrabtnhide{
  display: none;
}
.menu {
  position: absolute;
  right: 3%;
  top: 0;
  text-align: right;
}
.menu .dots{
  display: inline-flex;
  flex-direction: column;
  align-self: right;
  cursor: pointer;
}
.menu .dots .dot {
  padding: 3px;
  margin: 3px;
  border-radius: 100%;
  background-color: white;
}
.menu .submenu {
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  padding: 10px;
  position: relative;
}
.hidden {
  display: none;
}
.menu .submenu .link {
  padding: 10px;
  cursor: pointer;
}